<p>
  <strong>Name:</strong>
  <%= @flat.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Price Per Night:</strong>
  <%= @flat.price_per_night %>
</p>

<p>
  <strong> Number of Guests</strong>
  <%= @flat.number_of_guests %>
</p>
hi m
